extends g0v.tw-achievement

block sub-title
  | 文創

block content
  //-#moc
    - fs=require('fs');
    - yaml=require('yamljs');
    - jadeParser=require('jade');
    - var glob=function(folder, regexp){
    -   var result=[];
    -   var files=fs.readdirSync(folder); for(var i=0;i<files.length;i++){
    -     var target_file = folder+'/'+files[i];
    -     var target_path = folder;
    -     var target_topic_path = target_path.slice(0,target_path.lastIndexOf('/'));
    -     var target_topic = target_topic_path.slice(target_topic_path.lastIndexOf('/')+1);
    -     var target_author = folder.slice(folder.lastIndexOf('/')+1);
    -     var meta = folder+'/meta.json';
    -     var stat = fs.statSync(target_file);
    -     if(stat.isDirectory()){ result=result.concat(glob(target_file,regexp))}
    -     if(stat.isFile() && target_file.match(regexp)){result.push([target_file.slice(3),target_path.slice(3),target_topic,target_author,target_topic_path])}
    -   }
    -   return result;
    - };
    - var renderAuthor=function(topic_path,name,tpl_path){
    -   var meta_file = topic_path+'/'+name+'/meta.txt';
    -   var output_file = topic_path+'/'+name+'/index.html';
    -   if(fs.existsSync(meta_file)){
    -     console.log( '[GEN] '+output_file);
    -     var topic_meta = yaml.load(meta_file);
    -     topic_meta.BASE= topic_path.replace(/\/[^/]+/g,'/..')+'/';
    -     var topic_content = jadeParser.renderFile(tpl_path+'.jade',topic_meta);
    -     fs.writeFile( output_file, topic_content );
    -   }
    - };
    .ui.horizontal.divider 插畫
    - files=(glob("../file/moc/illustration",/.(png|jpg)/))
    each f in files
      - renderAuthor(f[4], f[3], 'illustration-newshelper')
      .thumbnail
        .ui.ribbon.label.blue PSD
        a(href=f[1])
          img.rounded.ui.image(src=f[0])
        p.topic=f[2]
        span.ui.bottom.right.attached.label.small.circular.black=f[3]

  #moc.ui.items
    .item
      a.download(href='').ui.ribbon.label.blue PSD
      .image
        img(src='file/moc/illustration/newshelper/tuiry/01.png')
      .content
        .meta tuiry
        .name 新聞小幫手
        .description 新聞小幫手專案的虛擬代言人
    .item
      a.download(href='').ui.ribbon.label.blue PSD
      .image
        img(src='file/moc/illustration/newshelper/tuiry/02.png')
      .content
        .meta tuiry
        .name 新聞小幫手
    .item
      a.download(href='').ui.ribbon.label.blue PSD
      .image
        img(src='file/moc/illustration/newshelper/tuiry/03.png')
      .content
        .meta tuiry
        .name 新聞小幫手
    .item
      a.download(href='').ui.ribbon.label.blue PSD
      .image
        img(src='file/moc/illustration/newshelper/tuiry/04.png')
      .content
        .meta tuiry
        .name 新聞小幫手
    .item
      a.download(href='').ui.ribbon.label.blue PSD
      .image
        img(src='file/moc/illustration/newshelper/tuiry/05.png')
      .content
        .meta tuiry
        .name 新聞小幫手
    .item
      a.download(href='').ui.ribbon.label.blue PSD
      .image
        img(src='file/moc/illustration/g0v/joyqul/loli.jpg')
      .content
        .meta 飄伶
        .name g0v 娘
        .description g0v 社群的虛擬代言人

block script
  script.
    $("#nav .achievement").addClass("active");
    $("#sub-menu .moc").addClass("active");

